body {
  font-family: sans-serif;
  background-color: #0082ff;
  background: linear-gradient(16deg, #0082ff, #41ebff);
  color: #0d0342;
  min-height: 100vh;
}

#wrap {
  margin: 0 auto;
  max-width: 55em;
  text-align: center;
}

h1 {
  margin-top: 1em;
}

.button {
  background: linear-gradient(16deg, #0d0342, #0a00be);
  border: none;
  border-radius: 0.5em;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s all;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.125s all;
}


.dark-purple-fill {
  background-color: #3B2E58;
}

.light-purple-fill {
  background-color: #8661c5;
}

.icon-small {
  width: 50px;
  padding-bottom: 5px;
}

.icon-text-large {
  font-size: 100px;
}

.small-text {
  font-size: 16px;
}

.tiny-text {
  font-size: 12px;
}

.text-gray {
  color: gray;
}

.text-center {
  text-align: center;
}

#qrcode>img {
  margin: 0 auto;
  padding-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.green {
  color: #228B22;
}

#message {
  font-size: 1.5em;
}

#photo-help {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1em;
  color: #0d0342;
  padding: 1em;
}
/*------*/

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  background-color: #41ebff;
  border: 1px solid #0a00be;
  color: #0d0342;
  padding: 8px;
}

table tr:nth-child(even){background-color: #0082ff;}

table tr:hover {background-color: #41ebff;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0a00be;
  color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d0342;
    background: linear-gradient(16deg, #0d0342, #0a00be);
    color: #FFF;
  }
  .button, .btn {
    background: linear-gradient(16deg, #0a00be, #0082ff);
  }
}
